@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

* {
	padding: 0%;
	margin: 0%;
	font-family: 'Ropa Sans';
	font-weight: normal;
}

header {
	background: #ffffff;
	box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
}

h1 {
	margin-top: 0.7%;
	margin-bottom: 0.7%;
}

.logo {
	margin-left: 4%;
	font-family: 'Ropa Sans';
	color: #777777;
	display: flex;
	flex-direction: row;
	text-align: center;
}

.logo h2 {
	font-size: 12px;
	font-weight: 400;
	color: #aaaaaa;
	align-self: center;
	margin-left: 5px;
}

.menu {
	margin-left: 84vw;
	cursor: pointer;
}

.banner {
	margin-left: 4%;
	margin-top: 2%;
	margin-bottom: 4%;
	width: 91%;
	position: relative;
}

.left--button .ellipse {
	margin-left: 5.9%;
}

.left--button .arrow {
	margin-left: 7.7%;
}

.right--button .ellipse {
	margin-left: 87%;
}

.right--button .arrow {
	margin-left: 90%;
}

.ellipse {
	position: absolute;
	color: white;
	text-align: center;
	width: 6.2%;
	margin-top: -26.8%;
	cursor: pointer;
}

.arrow {
	position: absolute;
	color: white;
	text-align: center;
	width: 1.7%;
	margin-top: -25.5%;
	cursor: pointer;
}

.lot {
	display: flex;
	justify-content: space-between;
}

.lot section {
	background-color: #eeeeee;
	margin-left: 4%;
	width: 39%;
	text-align: center;
}

.lot img {
	width: 100%;
}

.lot--info {
	display: flex;
	justify-content: space-between;
}

.price {
	color: #888888;
	font-size: 300%;
	margin-left: 6%;
}

.state {
	margin-top: 2%;
	background-color: #51d275;
	color: white;
	text-align: center;
	width: 20%;
	height: 20%;
	font-size: 220%;
	margin-right: 6%;
	border-radius: 100px;
}

.about {
	color: #555555;
	text-align: justify;
	margin-left: 6.1%;
	margin-right: 6.1%;
	margin-bottom: 4%;
	margin-top: 2.5%;
}

.style {
	margin-top: 9%;
	color: #888888;
	text-align: center;
	font-size: 280%;
	margin-bottom: 2%;
}

.style1 {
	display: inline-block;
	position: relative;
	position: absolute;
}

.container {
	margin: auto;
	width: 91%;
	position: relative;
	color: white;
	text-align: center;
	margin-bottom: 1%;
}

.container img {
	width: 100%;
}

.title--container {
	font-size: 300%;
	margin-right: 10%;
	position: absolute;
	top: 34%;
	left: 45%;
	text-align: center;
}

.background--container {
	filter: opacity(60%);
}

footer {
	background-color: #333333;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.map {
	margin-top: 11.5%;
	margin-left: 11.5%;
	margin-bottom: 11.5%;
	width: 41vw;
}

.footer--info {
	margin-right: 15%;
	margin-top: 8%;
	color: white;
}

.footer--contacts p {
	font-size: 120%;
	margin-bottom: 20px;
}

.social--medias {
	font-size: 120%;
	margin-top: 12%;
}

.social--medias img {
	width: 6vh;
}

.social--icons {
	display: flex;
	flex-direction: row;
}

.icon {
	margin-top: 4%;
	margin-right: 9.5%;
}
